<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/
css/bootstrap.min.css">
  <link href="styling/style.css" type="text/css" rel="stylesheet">
  <title>Login/Register</title>
</head>

<body>
<h1>Welcome to the Application </h1>

<a id="logout" href="/logout" class="btn btn-primary">
Sign out
</a>

</body>
</html>