<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Achievements</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href='../lib/fullcalendar/main.css' rel='stylesheet' />
  <link href="../styling/style.css" type="text/css" rel="stylesheet">
   
  <script src="../lib/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/a6fb7c7427.js" crossorigin="anonymous"></script>
  <script src='../lib/fullcalendar/main.js'></script>
  <script src="../js/calendarShare.js"></script>
  </head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/{{user}}">ibrox<span style="color: #006600;">Fitness<span></a>
</nav>
{{#user}}
<h2 style="display:none;" id="usern">{{user}}</h2>

<div class="summary-parent">
<div class=summary>
  <h4 class="schedule-heading">{{user}} shared his fitness schedule with you.</h4>
  <h6><i class="fas fa-circle" style="color:#006600"></i>&nbsp;Complete activities</h6>
  <h6><i class="fas fa-circle" style="color: red"></i>&nbsp;Incomplete activities</h6>
</div>
</div>
{{/user}}
<div id='calendar3' class="cal"></div>
</body>

</html>